{% extends '_base.html' %}
{% load widget_tweaks %}


{% block content %}
    
    
<body>
    <div class="container-fluid">
        <h3 class="text-dark mb-4" style="font-family: 'Almarai'; text-align: center;">إعدادات الأمان</h3>
     
            <div class="col-lg-8">
                <div class="row mb-3 d-none">
                    <div class="col">
                        <div class="card text-white bg-primary shadow">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-success shadow">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold" style="font-family: 'Almarai'; text-align: center;">بيانات المستخدم</p>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">                                            
                                            <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الحالية</strong></label>
                                                {% render_field form.oldpassword class+="form-control" type_field="password" placeholder="ادخل كلمة المرور الحالية" name="oldpassword" %}
                                            </div>
                                    </div>
                                    <div class="form-row">
                                            <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة</strong></label>
                                                {% render_field form.password1 class+="form-control" type_field="password" placeholder=" كلمة المرور الجديدة" name="password1" %}
                                            </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة مرة اخرى</strong></label>
                                            {% render_field form.password2 class+="form-control" type_field="password" placeholder=" كلمة المرور الجديدة مرة اخرى" name="password2" %}
                                        </div>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" style="font-family: 'Almarai';">حفظ التغييرات</button></div>
                                    {% if messages %}         
                                    {% for message in messages %}
                                    <div class="alert alert-success" role="alert">
                                        <p style="font-family: 'Almarai'; font-size: medium; text-align: center;">{{message}}</p>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                              {% endfor %}
      
                              {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                  {% for error in form.non_field_errors %}
                                  <span style="font-family: 'Almarai';">{{ error }}</span>
                                  {% endfor %}
                                </div>
                              {% endif %}
                                </form>
                                

                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
    {% endblock content %}
