{% extends '_base.html' %}
{% load widget_tweaks %}


{% block content %}


<div class="container-fluid">
    <h3 class="text-dark mb-4" style="font-family: 'Almarai'; text-align: center;">إعدادات الأمان</h3>
    <div class="row mb-3">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold" style="font-family: 'Almarai'; text-align: center;">إجراءات الحساب</p>
                </div>
                
            
                <div class="form-group">
                    <label class="d-block text-w" style="font-family: 'Almarai'; text-align: center;"><strong>تعطيل الحساب مؤقتا</strong></label>
                <div class="form-group">

                    <p class="text-muted font-size-sm" style="font-family: 'Almarai'; text-align: center;">يحدد ما إذا كان يجب معاملة هذا المستخدم على أنه نشط أم لا.</p>
                </div>
                  </div>
                  <div style="font-family: 'Almarai'; text-align: center;"><a class="btn btn-danger" href="{% url 'disable_account' %}" type="submit">تعطيل الان</a>
                </div>
                <hr>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold" style="font-family: 'Almarai'; text-align: center;">تغيير كلمة المرور</p>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-row">                                            
                                        <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الحالية</strong></label>
                                            {% render_field form.oldpassword class+="form-control" type_field="password" placeholder="ادخل كلمة المرور الحالية" name="oldpassword" %}
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة</strong></label>
                                            {% render_field form.password1 class+="form-control" type_field="password" placeholder=" كلمة المرور الجديدة" name="password1" %}
                                        </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group"><label for="username" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة مرة اخرى</strong></label>
                                        {% render_field form.password2 class+="form-control" type_field="password" placeholder=" كلمة المرور الجديدة مرة اخرى" name="password2" %}
                                    </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" style="font-family: 'Almarai';">حفظ التغييرات</button></div>
                                {% if messages %}         
                                {% for message in messages %}
                                <div class="alert alert-success" role="alert">
                                    <p style="font-family: 'Almarai'; font-size: medium; text-align: center;">{{message}}</p>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {% if field.errors %}
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <span style="font-family: 'Almarai'; text-align: center;">{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}                                      
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}
