{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    
    
<body>
    <div class="container-fluid">
        <h3 class="text-dark mb-4" style="font-family: 'Almarai'; text-align: center;">الملف الشخصى</h3>
        <div class="row mb-3">
            <div class="col-lg-4">
                <!-- <div class="card mb-3">
                    <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{user.photo.url}}" width="160" height="160">
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">تغيير الصورة</button></div>
                    </div>
                </div> -->
                <div class="card shadow mb-4">
                    <!-- <div class="card-header py-3">
                        <h6 class="text-primary font-weight-bold m-0" style="font-family: 'Almarai'; text-align: center;">سجل الطلبات</h6>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold" style="font-family: 'Almarai'; text-align: center;">لم يتم تقديم طلبات</h4>
                    </div>
                </div>  -->
            </div>
            <div class="col-lg-8">
                <div class="row mb-3 d-none">
                    <div class="col">
                        <div class="card text-white bg-primary shadow">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-success shadow">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold" style="font-family: 'Almarai'; text-align: center;">بيانات المستخدم</p>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col">
                                            
                                            <div class="form-group"><label for="current_password" style="font-family: 'Almarai';"><strong>كلمة المرور الحالية</strong></label>
                                                {{form.current_password}}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group"><label for="email" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة</strong></label>
                                                {{form.password1}}

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="first_name" style="font-family: 'Almarai';"><strong>كلمة المرور الجديدة (مرة أخرى)</strong></label>
                                                {{form.password2}}

                                            </div>
                                        </div>
                                        
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" style="font-family: 'Almarai';">حفظ التغييرات</button></div>
                                </form>
                                
                                {% if messages %}         
                                    {% for message in messages %}
                                    <div class="alert alert-success" role="alert">
                                        <p style="font-family: 'Almarai'; font-size: medium; text-align: center;">{{message}}</p>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                    
                            </div>
                        </div>
                        <!-- <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold" style="font-family: 'Almarai'; text-align: center;">معلومات التواصل</p>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group"><label for="address" style="font-family: 'Almarai'; text-align: left;"><strong>العنوان التفصيلى</strong></label>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label for="city" style="font-family: 'Almarai'; text-align: left;"><strong>المدينة</strong></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" style="font-family: 'Almarai'; text-align: left;">حفظ التغييرات</button></div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card shadow mb-5">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Forum Settings</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group"><label for="signature"><strong>Signature</strong><br></label><textarea class="form-control" rows="4" name="signature"></textarea></div>
                            <div class="form-group">
                                <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>
                            </div>
                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    </div>
    </div>
    </body>
    {% endblock content %}
