{% extends '_base.html' %}
{% load widget_tweaks %}

{% block title %} {{employee.name}} {% endblock title %}
    
{% block content %}

<!-- {% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }}" role="alert">

  <h4 class="alert-heading" style="font-family: 'Almarai'; text-align: center; "><i class="fas fa-check-circle"></i> تم إرسال طلبك بنجاح</h4>
  <p style="font-family: 'Almarai'; text-align: right;">{{message}}</p>
  <hr>
  <p class="mb-0" style="font-family: 'Almarai'; text-align: right;">salahly2021@gmail.com للمزيد من الاستفسارات قم بالتواصل معنا فى قسم اتصل بنا او راسلنا على البريد الالكترونى</p>
  {% endfor %}
</div>
{% endif %} -->

<div class="row">
    <div class="col-md-21">
        <div class="row">
            <div class="col-md-12"><img class="img-thumbnail center-block" height="310px" width="310px" src="{{employee.photo.url}}"></div>
        </div>
    </div>
    <div class="col-md-5">
        <h1 style="font-family: 'Almarai'; font-size: 30px;">{{employee.name}}</h1>
        <p style="font-family: 'Almarai'; font-size: small; text-align: left;">{{employee.about}} </p>
        <div class="text-left star-rating" style="font-size: 25px;color: #f9dd16;">
            <span style="font-family: 'Almarai'; font-size: large;color: #000000; "><strong>التقييم : </strong></span>
            <span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px; display: black;" data-rating="1"></span>
            <span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="2"></span>
            <span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="3"></span>
            <span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="4"></span>
            <span class="fa fa-star-o" style="padding-right: 1px;padding-left: 1px;" data-rating="5"></span>
            <input class="form-control rating-value" type="hidden" id="rate" name="Rating" value="{{employee.rate}}" /></div>
</div>
    </div>
</div>
<div>
<div class="container">
    <div class="col-md-5" style="text-align: center; width: 50%; margin-left: auto; margin-right: auto;">
            <h1 style="font-family: 'Almarai'; font-size: 30px;">أطلب الان</h1>
            <hr>
        <form method="post">
            {% csrf_token %}
            {% render_field jobRequest_form.problem type_field="text" cols="40" rows="5" placeholder="قم بوصف المشكلة للموظف" %}
            <hr>
            <button class="btn btn-primary btn-block" type="submit" style="font-family: 'Almarai';">ارسال الطلب</button>
        </form>
    </div>
    </div>
</div>
</div>

<hr>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="width: 90%; height: 150px; margin-left: auto; margin-right: auto;">
        {% for image in employee.work_image.all %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img class="d-block w-100" src="{{image.images.url}}" alt="First slide">
        </div>
        {% endfor %}
        
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-6">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group"><label for="signature"><strong>أضف تعليق</strong><br></label>
                            {% render_field comment_form.comment type_field="text" cols="40" rows="5" placeholder="قم بإضافه تعليق عن الموظف" %}
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">إضافة التعليق</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <p class="text-primary m-0 font-weight-bold">أراء العملاء عن الموظف</p>
    </div>
    <div class="card-body" style="height:233px;">
        <ul class="list-group">
            {% for comments in employee.comments.all reversed %}
            <li class="list-group-item" style="margin-bottom:6px;">
                <div class="media">
                    <div></div>
                    <div class="media-body">
                        <div class="media" style="overflow:visible;">
                            <div><img class="mr-3" style="width: 25px; height:25px;" src="/static/img/user-photo4.jpg"></div>
                            <div class="media-body" style="overflow:visible;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><a href="">{{comments.user.full_name}} : </a>{{comments.comment}}<br>
                                        <small class="text-muted">{{comments.created_at}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %} 
        </ul>
    </div>
</div>

{% endblock content %}
