@font-face {
  font-family: "Almarai";
  src: URL("Almarai-Bold.ttf") format("truetype");
  src: URL("Almarai-ExtraBold.ttf") format("truetype");
  src: URL("Almarai-Light.ttf") format("truetype");
  src: URL("Almarai-Regular.ttf") format("truetype");
}
