{% extends 'static.html' %}
{% load static %} 
  
  {% block body %}
  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
      >
        <div class="container-fluid d-flex flex-column p-2">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="#"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <span class="slahly_icon"></span>
            </div>
            <div class="sidebar-brand-text mx-3"><span>SLAHLY</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}"
                ><i class="fas fa-home"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                  الصفحة الرئيسية</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'service' %}"
                ><i class="fas fa-table"></i><span style="font-family: 'Almarai'; font-size: large">الخدمات</span></a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}"
                ><i class="fas fa-user"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                  الملف الشخصى</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_change_password' %}"
                ><i class="fas fa-user-cog"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                  إعدادات الأمان</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'requests' %}"
                ><i class="fas fa-history"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                 سجل الطلبات</span
                ></a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'store' %}"
                ><i class="fas fa-store"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                  المتجر</span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'job' %}"
                ><i class="fas fa-briefcase"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                  طلبات توظيف</span
                ></a
              >
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}"
                ><i class="fas fa-headset"></i
                ><span style="font-family: 'Almarai'; font-size: large">
                 تواصل معنا</span
                ></a
              >
            </li>
            
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav
            class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
          >
            <div class="container-fluid">
              <ul class="nav navbar-nav flex-nowrap ml-auto ">
                {% if user.is_authenticated %}
                <li>
                   <span class="d-none d-lg-inline mr-2 " style="font-family: 'Almarai';">{{user.full_name}} مرحبا</span>
                </li> 
                <li>
                  <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-outline-danger " style="font-family: 'Almarai';"><i class="fas fa-sign-out-alt"></i> تسجيل الخروج</button></a>
              </li>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}"><button type="button" class="btn btn-outline-info mr-2" style="font-family: 'Almarai';"><i class="fas fa-user"></i> إنشاء حساب</button></a>
                </li>
                <li>
                    <a href="{% url 'account_login' %}"><button type="button" class="btn btn-outline-primary" style="font-family: 'Almarai';"><i class="fas fa-sign-out-alt"></i> تسجيل الدخول</button></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          <div class="container-fluid">
            {% block content %} {% endblock content %}
          </div>
        </div>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    
    {% endblock body %}
