{% extends '_base.html' %}

{% block title %}
    تواصل معنا
{% endblock title %}
    

{% block content %}
            <div class="shadow" style="width: 100%;min-height: 630px;background-color: rgba(255,255,255,0.79);">
                <form style="padding-top: 50px;" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h1 class="text-center" style="font-family: 'Almarai';">تواصل معنا</h1>
                    </div>

                    <div class="form-group"><input class="form-control form-control-lg" type="text" name="name" style="width: 50%;margin-left: 25%; font-family: 'Almarai';" required="" placeholder="الاسم"></div>
                    <div class="form-group"><input class="form-control form-control-lg" type="email" name="email" style="width: 50%;margin-left: 25%; font-family: 'Almarai';" placeholder="البريد الالكترونى"></div>
                    <div class="form-group">
                        <select class="form-control" style="width: 50%;margin-left: 25%; font-family: 'Almarai';" name="reason" >
                            <option value="" disabled selected hidden style="font-family: 'Almarai';" >أختر سبب التواصل</option>
                            <option value="استفسارات" style="font-family: 'Almarai';">
                                استفسارات
                            </option>
                            <option value="اقتراحات" style="font-family: 'Almarai';">
                                اقتراحات
                            </option>
                            <option value="شكاوى" style="font-family: 'Almarai';">
                                شكاوى
                            </option>
                            <option value="أخرى" style="font-family: 'Almarai';">
                                أخرى
                            </option>
                          </select>
                    </div>
                    <div class="form-group"><textarea class="form-control form-control-lg" name="message" style="width: 50%;margin-left: 25%;min-height: 200px; font-family: 'Almarai';" placeholder="رسالتك"></textarea></div>
                    <div class="form-group"><button class="btn btn-primary" style="width: 50%;margin-left: 25%; font-family: 'Almarai';" type="submit">ارسال</button></div>
                </form>
            </div>
            
{% endblock content %}
    